<link rel="stylesheet/less" type="text/css" href="/css/news.less" />
<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
    <link rel="stylesheet" type="text/css" href="/css/news.css" />
<![endif]-->

<article>
  <div class="banner">
    <div class="container">
      <h1>最新消息</h1>
    </div>    
  </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li class="active">最新消息</li>
          </ol>
        </section>
    </div>

  <div class="content" id="news-list-content">
    <section class="container">      
      
      <% @announcements.each do |announcement| %>
        <div class="row list">
          <div class="col-sm-5 cover">
            <% if announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first %>
              <% announcement_cover_url = announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first.attachment.url %>
              <%= link_to announcement_path(announcement) do %>
                <%= image_tag announcement_cover_url , class: "img-responsive" if announcement_cover_url %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-7">
            <div class="title">
              <table>
                <tr>
                  <td><span><strong><%= announcement.created_at.strftime('%m/%d') %></strong><br><%= announcement.created_at.strftime('%Y') %></span></td>
                  <td valign="center" ><h3><%= announcement.title %></h3></td>
                </tr>
              </table>
            </div>
            <div class="article">
            <p>
              <% if announcement.subtitle.length > 0 %>
                <%= announcement.subtitle.first(80) %>
                <%= '...' if announcement.subtitle.length > 80 %>
              <% end %>
            </p>
            </div>
            <div class="more">
              <%= link_to announcement_path(announcement) do %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <ul class= "pagination">
        <%= paginate @announcements ,:window => 2 %>
      </ul>
    </section>
  </div>
</article>