<link rel="stylesheet/less" type="text/css" href="/css/news.less" />



<article>
  <div class="banner">
    <div class="container">
      <h1>最新消息</h1>
    </div>    
  </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li class="active">最新消息</li>
          </ol>
        </section>
    </div>

  <div class="content" id="news-show-content">
    <section class="container row">
      <div class="col-sm-8 col-sm-offset-2">
        
        <%= render 'peditor_show' %>
          
        <ul class="pager">
          <li>
          <% if @previous_announcement %>
            <%= link_to announcement_path(@previous_announcement) do%>
              <img src="/images/news-03.png">
            <% end %>
          <% else %>
            <%= link_to announcements_path() do%>
              <img src="/images/news-03.png">
            <% end %>
          <% end %>
          </li>
          <li>
            <%= link_to announcements_path do %>
              <img src="/images/news-05.png">
            <% end %>
          </li>
          <li>
            <% if @next_announcement %>
              <%= link_to announcement_path(@next_announcement) do%>
                <img src="/images/news-04.png">
              <% end %>
            <% else %>
              <%= link_to announcements_path() do%>
                <img src="/images/news-04.png">
              <% end %>
            <% end %>
          </li>
        </ul>

      </div>
    </section>
  </div>
</article>