<link href="/css/site.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
<![endif]-->

<article>
	<div class="banner">
    <div class="container">
    	<h1>BES 電池交換站點</h1>
    </div>    
    </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li><%= link_to "BES 站點查詢", page_pages_path('spot')%></li>
            <li class="active">站點查詢結果</li>
          </ol>
        </section>
    </div>
    
    <section class="site">
    <div class="container">
        <div id="siteInfo">
        	<h2><%= @station.name %></h2>
          <h2 class="address"><%= @station.address %></h2>
          <h2 class="phone"><%= @station.phone %></h2>
        </div>
        <iframe id="googleMap" src="" frameborder="0" style="border:0"></iframe>
        <hr>
      <%= @station.intro %>
      <% @station.galleries.where(type: StationPhotoGallery).each do |attach| %>
        <image src=<%= "#{attach.attachment.url}" %> />
      <% end %>
    </div>
    </section>
</article> 

<script>
  $( document ).ready(function() {
    var map = $('<%= @station.latlng.html_safe %>');
    emb = map.attr('src');

    $("#googleMap").attr('src',emb);

  });
</script>




