<header>
  <h2 class="left">聯絡我們</h2>
  <nav class="left">
    <%= link_to "未處理", admin_reservations_path() %>
    <%= link_to "已處理", history_admin_reservations_path , class: 'active' %>
  </nav>
</header>

<article>
  <div class="list">

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      
      <% @reservations.each do |reservation| %>
        <tr>
          <td width="6%" class="icon"></td>
          <td width="21%"><span class="time"><%= reservation.created_at.strftime("%Y-%m-%d %H:%M") %></span><br>
            <%= reservation.name %><a class="email"><img src="/images/admin/msg.png">
            <p><%= reservation.email %></p></a></td>
          <td width="60%">
          <h6><%= reservation.subject %></h6>
          <p><%= reservation.content %></p></td>
          <td width="13%">
            <div class="tool">
              <%= get_reservation_status(reservation) %><%# reservations_helper %>
            </div>
          </td>
        </tr>
      <% end %>

    </table>
  </div>

  <div class="page">
    <%= paginate @reservations ,:window => 2 %>
  </div>

</article>
