<header>
  <h2 class="left">車款介紹</h2>
  <nav class="left">
    <%= link_to "簡介", edit_admin_category_vehicle_path(@vehicle.category, @vehicle) %>
    <%= link_to "輪播", admin_category_vehicle_slider_path(@vehicle.category, @vehicle) %>
    <%= link_to "車色", admin_category_vehicle_colors_path(@vehicle.category, @vehicle) %>
    <%= link_to "特色", admin_category_vehicle_features_path(@vehicle.category, @vehicle) %>
    <%= link_to "規格", admin_category_vehicle_specs_path(@vehicle.category, @vehicle) %>
    <%= link_to "配件", admin_category_vehicle_accessories_path(@vehicle.category, @vehicle)%>
    <%= link_to "型錄", admin_category_vehicle_dm_path(@vehicle.category, @vehicle), class: 'active' %>
    <%= link_to "產品圖", admin_category_vehicle_photo_path(@vehicle.category, @vehicle)%>
  </nav>
</header>

<article>

<%= render 'admin/common/show_document_by_type', target: @vehicle, target_title: '附件', type: 'VehicleDMFile' %>

<% if @gallery_count < 1 %>
<div class='form'> 
  <%= simple_form_for(@vehicle, :url => admin_category_vehicle_upload_dm_path(params[:category_id] , @vehicle), html: { id: "patchthisvehicle", :multipart => true } ) do |f| %>

    <%= render 'admin/common/upload_document_by_type', target_title: '附件' %>
    
    <%= f.hidden_field :status, :value => 'enable' %>

    <div class="button"> 
      <%= f.submit '上傳', class: 'highlight right'  %>
    </div>
  <% end %>
</div>
<% end %>
 
</article>
