<header>
  <h2 class="left">地圖管理</h2>
</header>
<article>
  <div class="hgroup">
    <div class="button">
      <%= link_to new_admin_station_path(), :method => :get,class: "right highlight"  do %>
        新增站點<img src="/images/admin/add.png">
      <% end %>
    </div>
  </div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @stations.each do |station| %>
        <tr>
          <td width="6%" class="icon"><img src="/images/admin/li.png"></td>
          <td width="76%"><%= link_to "#{station.name}", edit_admin_station_path(station) %></td>
          <td width="18%">
          <div class="tool">                
            <%= link_to "", edit_admin_station_path(station), class: "edit" %>
            <%= link_to "", admin_station_path(station), :data => { :confirm => "將會刪除此站點，確定繼續？" }, :method => :delete, :class => "delete", title: "刪除" %>
          </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class= "page">
    <%= paginate @stations ,:window => 2 %>
  </div>
</article>