<header>
  <h2 class="left">門市資訊<span>/ 分店管理</span></h2>
  <nav class="left">
    <a href="javascript:void(0);" class="active">簡介</a>
    <%# link_to "照片", stationphoto_upload_admin_station_path(@station)%>
  </nav>
</header>
<article>
  <div class="form">
    <%= form_for @station, :url => admin_stations_path(@station), html: { id: "create_this_station",method: "post"} do |f| %>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="7%">門市：</td>
        <td width="42%"><%= f.text_field :name , class: "text" %></td>
        <td width="2%"></td>
        <td width="7%">電話：</td>
        <td width="42%"><%= f.text_field :phone , class: "text" %></td>
      </tr>
      <tr>
        <td valign="top" style="padding:13px 0 0 0">地址：</td>
        <td colspan="4">
            <%= f.select :country, options_for_select(@countries.collect { |country|
        [country.name, country.id] }, 1), {}, { id: 'countries_select', style: "width:14%;display:none;" } %>
            <%= f.select :city, options_for_select(@cities.collect { |city|
              [city.name, city.id] }, 1), {}, { id: 'cities_select', style: "width:14%" } %>
            <%= f.select :district, options_for_select(@districts.collect { |district|
              [district.name, district.id] }, 0), {}, { id: 'districts_select' , style: "width:14%"} %>

          <%# f.hidden_field :country , value: 1 %>   

          <%# f.select :city, options_for_select(@cities.collect { |city|
            [city.name, city.id] }, @station.city), {}, { id: 'cities_select', style: "width:14%" } %>
          <%# f.select :district, options_for_select(@districts.collect { |district|
            [district.name, district.id] }, @station.district), {}, { id: 'districts_select', style: "width:14%" } %><br>
            <%= f.text_field :address ,class: "text", placeholder:"請輸入完整地址"%>
          </td>
      </tr>
      <tr>
        <td>時間：</td>
        <td colspan="4"><%= f.text_field :ophour,class: "text" %></td>
      </tr>
      <tr>
        <td valign="top">簡介：</td>
        <td colspan="4"><%= f.text_area :intro %> </td>
      </tr>
      <tr>
        <td>地圖：</td>
        <td colspan="4"><%= f.text_field :latlng,class: "text" %> </td>
      </tr>
      <tr>
        <td>緯度(Latitude)：</td>
        <td colspan="4"><%= f.text_field :lat,class: "text" %> </td>
      </tr>
      <tr>
        <td>經度(Longitude)：</td>
        <td colspan="4"><%= f.text_field :lng,class: "text" %> </td>
      </tr>
    </table>
    <% end %>
  </div>
  <!--form-->

  <div class="button"> 
    <%= link_to image_tag("/images/admin/left.png")+"返回", admin_stations_path(), class: "left" %>
    <a href="javascript: document.getElementById('create_this_station').submit();" class="right highlight" data-no-turbolink = true >儲存<img src="<%= image_path("save.png") %>"></a>
  </div>
  
</article>

