Store show<br>
<p id='status'></p>

<%= @station.name %><br>
<%= @station.intro %><br>
<%= @station.phone %><br>
<%= @station.address %><br>
<%= @station.ophour %><br>
<%= @station.latlng.html_safe %><br>
<%= @station.lat %> , <%= @station.lng %><br>
<% if @station.galleries.select{ |v| v['type'] == "StationPhotoGallery"  }.first %>
    <% a = @station.galleries.select{ |v| v['type'] == "StationPhotoGallery"  }.first.attachment.url  %>
<% end %>


<br><br><br><br>
<%= link_to "GO BACK", admin_stations_path %>

