<link rel="stylesheet" type="text/css" href="/js_plugins/bxslider/jquery.bxslider.css" />
<link rel="stylesheet/less" type="text/css" href="/css/index.less" />
<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
<![endif]-->

<script src="/js_plugins/bxslider/jquery.bxslider.min.js"></script> 
<script src="/js/less.min.js"></script>
<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      controls:false,
      auto:true,
      mode:'fade',
    });
  });    
</script>
</head>

<body>


<div id="slider">
  <ul class="bxslider">
    <% @banners.each do |banner| %>
      <% if banner.galleries.first %>
        <li>
          <%= link_to banner.description, target: '_blank' do %>
            <img src=<%= "#{banner.galleries.first.attachment.url}" %> class="img-responsive" />
          <% end %>
        </li>
       <% end %>
    <% end %>
  </ul>
</div>
<article class="index">  
  <div id="content-1" class="content">
    <section class="container row">
      <h3 class="col-sm-12">最新消息</h3>
      
      <%  if @announcements.count >= 1  %>
        <% @announcements.each do |announcement| %>
          <div class="col-sm-3">
            <%= link_to announcement_path(announcement), class: 'news' do %>
            
              <div class="cover">
                <% if announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first %>
                <% announcement_cover_url = announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first.attachment.url %>
                  <%= image_tag announcement_cover_url , class: "img-responsive" if announcement_cover_url %>
                <% end %>
                <div class="mask hidden-sm hidden-xs">
                  <span class="date"><%= announcement.created_at.strftime('%m/%d') %></span><br>
                  <p>
                    <% if announcement.subtitle %>
                      <%= announcement.subtitle.first(23) if announcement.subtitle.length > 0 %>
                      <%= '...' if announcement.subtitle.length > 23 %>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="title">
                <%= announcement.title %><br><br>
              </div>

            <% end %>
          </div>
        <% end %>
      <% end %>
      
      <div class="col-sm-3">
        <%= link_to announcements_path, class: "more" do %>
          <img src="/images/idx-01.gif" class="img-responsive"/>
        <% end %>
      </div>

    </section>
  </div>
  <div id="content-2" class="content">
    <section class="container">
      <h1>綠色環保 電動機車</h1>
      <h2>降低摩托車一氧化碳的排放，減少對環境的污染</h2>
      <div class="row list">
      <% @pickups.each do |vehicle| %>
        <%= link_to vehicle_path(vehicle), {:class=>"col-md-4"} do %>
            <%= render 'layouts/show_by_type', target: vehicle, target_title: '', type: 'VehicleCover' %>
            <hr>
            <h4><%= vehicle.name %></h4>
            <h5><%= vehicle.description %></h5>
            <button class="btn btn-default"><span>看更多</span></button>
        <% end %>
      <% end %>
      </div>
    </section>
  </div>
  <div id="content-3" class="content">
    <section class="container clearfix">      
      <div class="pull-right">
        <h3>認識 BES 電池交換站<br><small>/ Battery Exchange System</small></h3>       
          <div id="rope">
          <div id="box">
          <h4><img src="/images/idx-08.png"> 電池交換站</h4>
          <p>再也不用擔心電動機車騎到一半沒電啦，到電池交換站換一顆充飽電的電池，城市動力將能滿足您最及時的需求。</p>
          <br>
          <h4><img src="/images/idx-08.png"> 永久保固</h4>
          <p>有了電池交換站，您的車上的電池將能享受城市動力的永久保固，不僅能隨時至交換站換取良好的電池，也不需要每隔兩三年付出2~3 萬的更換電池費用啦。</p>
          <br>
          <h4><img src="/images/idx-08.png"> 站點位置</h4>
          <p>站點將設置於民眾最熟悉的地方體育館，停車場，公園，市場，乃至路邊的停車格等等．務必讓民眾享受到最貼心的服務。</p>
          </div>
          </div>
      </div>
      <div class="pull-left">
        <img src="/images/idx-04.png" class="img-responsive">
      </div>
    </section>
  </div>
  <div id="content-4" class="content">
    <section class="container clearfix">      
      <div class="pull-left">
        <h3>BES 電池交換站 App 介紹</h3>       
          <h4>隨時查詢站點</h4>
          <p>可依據地圖，地區二種方式查詢站點，即使離線也能查詢，不必擔心找不到交換站</p>
          <h4>線上客服支援</h4>
          <p>有任何問題可隨時以線上客服回覆，有關電動機車的任何問題，找城市動力就對了</p>
          <div class="qrcode hidden-sm hidden-xs">
            <br>
            <img src="/images/idx-12.png">
          </div>
          <div class="more">
            <%= link_to "詳細介紹 >", page_pages_path('app')%>
          </div>          
      </div>
      <div class="pull-right">
        <img src="/images/idx-07.jpg" class="">
      </div>
    </section>
  </div>
  <div id="content-5" class="content">
    <section class="container clearfix">      
      <div class="pull-left">
        <h3>E-BIKE 介紹</h3>       
          <h4>電動二輪車公共化</h4>
            <ul>
              <li>「行政院環保署電動二輪車免費試運行」</li>
              <li>不知何時腳踏車租借變成一種潮流，現在，該騎電動自行車啦。</li>
              <li>路邊停車柱停著電動二輪載具，到租借機刷悠遊卡，即可隨時租用電動自行車四處遨遊。</li>
            </ul>          
        <div class="more">
          <a href="http://ebike.citypower.com.tw" target="_blank">更多 E-bike 介紹 ></a>
        </div>     
        <div class="stick">
          <img src="/images/idx-11.png">
        </div>
        <img src="/images/idx-09.png" id="mMoto" class="img-responsive hidden-sm hidden-md hidden-lg">
      </div>
    </section>
  </div>
</article>

