<link href="/css/list.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
<![endif]-->

<article>
  <div class="banner">
    <div class="container">
      <h1>電動機車車款介紹</h1>
    </div>    
    </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li class="active">車款介紹</li>
          </ol>
        </section>
    </div>
    
    <section class="list">
    <div class="container">
        <h1>BES 電動機車 / <span>車款介紹</span></h1>
      <% @categories.each do |category| %> 
        <div class="row">
        <h2><%= category.name %></h2>
        <% vehicleIndex=1 %>
        <% category.vehicles.where(status: 'enable').limit(6).each do |vehicle| %> 
            <%if vehicleIndex%4==0 %>
              <hr>
            <% end %>
            <%= link_to vehicle_path(vehicle), {:class=>"col-md-4"} do %>
                <%= render 'layouts/show_by_type', target: vehicle, target_title: '', type: 'VehicleCover' %>
                <hr>
                <h3><%= vehicle.name %></h3>
                <h4><%= vehicle.description %></h4>
                <button class="btn btn-default"><span>看更多</span></button>
            <% end %>
            
            <% vehicleIndex=vehicleIndex+1 %>
        <% end %>
        </div>    
    <% end %>  
  </div>
  </section>
</article>


