<link href="/css/contact.css" rel="stylesheet" type="text/css">


<article>
  <div class="banner">
    <div class="container">
      <h1>聯絡城市動力</h1>
    </div>    
    </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><a href="#">首頁</a></li>
            <li><a href="#">客戶服務</a></li>
            <li class="active">聯絡城市動力</li>
          </ol>
        </section>
    </div>
    
    <section class="contact">
    <div class="container">
    <h1>聯絡城市動力</h1>
        <div id="contact">
        <form class="form-inline" role="form">
        <%= form_for(@reservation, :url => reservations_path(), html: { id: "newthisreservation" } ) do |f| %>
        <div class="radio">
          <% @options.each do | option | %>
                <%= f.radio_button :subject, option[0] %>
                <label for='<%= "reservation_subject_#{option[0]}" %>' ><%= option[1] %> </label>
              <% end %>
        </div>
        <div class="row">
          <div class="col-xs-6 form01">
              <div class="form-group">
                  <label for="formName">姓名</label>
                  <%= f.text_field :name, required: true, class: 'form-control', id: 'formName' %>
              </div>
              <div class="form-group">
                  <label for="formPhone">電話</label>
                  <%= f.text_field :phone, required: true, class: 'form-control', id: 'formPhone' %>
              </div>
              <div class="form-group">
                  <label for="formEmail">信箱</label>
                  <%= f.text_field :email, required: true, class: 'form-control', id: 'formEmail' %>
              </div>
          </div>
          <div class="col-xs-6 form02">
            <%= f.text_area :content, id: "textarea", required: true, class: 'form-control', placeholder: '請輸入你的留言' %>
            <div class="code"><%= recaptcha_tags :display => { :theme => "clean" } %></div>
            <%= f.submit '送出',class: 'btn' %>
          </div>
        </div>
        <% end %>
        </form>
        
        <h2>關注我們</h2>
        <div class="row link">
          <a href="#" class="col-xs-6 link01">
            <h3>Facebook</h3><p>加入粉絲團，不錯過任何一則最新消息</p>   
          </a>
          <div class="col-xs-6 link02">
            <p>與城市動力成為好友，更多好康優惠與消息，即時了解</p>
          </div>
        </div>
        
        <h2>服務中心列表</h2>
          <div class="centreList">
            <h3>中和建一店</h3><p>地址：新北市中和區建一路7號</p><span>連絡電話：02-2228-1821</span>
          </div>
          <div class="centreList">
            <h3>蘆州店</h3><p>地址：新北市蘆州區中山二路280號</p><span>連絡電話：02-2848-6381</span>
          </div>
        </div>
    </div>
    </section>
</article>
<!--
  <article>
    <div class="form">
      <%#= form_for(@reservation, :url => reservations_path(), html: { id: "newthisreservation" } ) do |f| %>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="7%">商品：</td>
            <td width="31%">
              主旨：<br>
              <%# @options.each do | option | %>
                <%#= f.radio_button :subject, option[0] %>
                <label for='<%#= "reservation_subject_#{option[0]}" %>' ><%#= option[1] %> </label>
              <%# end %>              
              <br>
            </td>
            <td width="2%">&nbsp;</td>
            <td width="7%">顯示：</td>
            <td width="53%">
              姓名：<%#= f.text_field :name, required: true %><br>
              電話：<%#= f.text_field :phone, required: true %><br>
              email：<%#= f.text_field :email, required: true %><br>
            </td>
          </tr>
          <tr>
            <td valign="top">內容：</td>
            <td colspan="4">
              內容：<%#= f.text_area :content, id: "textarea", required: true %><br>
            </td>
          </tr>
          <tr>
            <td>
              <%#= recaptcha_tags :display => { :theme => "clean" } %>
              <%#= f.submit '送出' %>
            </td>
          </tr>
        </table>
      <%# end %>
    </div>
-->