<link href="/js_plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<script src="/js_plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="/js_plugins/bxslider/jquery.bxslider.min.js"></script> 
<link rel="stylesheet" type="text/css" href="/js_plugins/bxslider/jquery.bxslider.css" />
<link href="/css/intro.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
<![endif]-->
<script type="text/javascript" src="/js/intro.js"></script>
<script>
$(document).ready(function(){
  if($(window).width()<768){
    $("#vLink").colorbox({iframe:true, innerWidth:320, innerHeight:195});
  }else{
    $("#vLink").colorbox({iframe:true, innerWidth:640, innerHeight:390});
  }
  $(window).resize(function(){
    if($(window).width()<768){
      $("#vLink").colorbox({iframe:true, innerWidth:320, innerHeight:195});
    }else{
      $("#vLink").colorbox({iframe:true, innerWidth:640, innerHeight:390});
    }  
  });
});
</script>
<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      controls:false,
      auto:true,
      mode:'fade',
      width: '120%',
      height: 900,
    });
    $(window).resize(function(){$('.bx-controls').css({height:$('.block').height()});})
    $('.bx-controls').css({height:$('.block').height()});
  });    
</script>

<div id="slider">
  <ul class="bxslider">
      <% @vehicle.galleries.where(type: VehicleSlider).each do |attach,index| %>
        <% if index==0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
          <image src=<%= "#{attach.attachment.url}" %> /></div>
        <% end %>   
  </ul>
  <div class='caption' style='color:#<%= "#{@vehicle.title_color}"%>;'><%= @vehicle.name %></div>
  <div class="block">
      <div class="row">
        <div class="col-sm-4 col-xs-4 col-md-4">
          <% if @vehicle.cf %>
            <%= link_to ' ',@vehicle.cf.html_safe, id: "vLink" %>
          <% end %>
        </div>
        <div class="col-sm-4 col-xs-4 col-md-4">
          <% @vehicle.galleries.where(type: VehicleDMFile).each do |attach| %>
            <a id="dLink" href="<%= "#{attach.attachment.url}" %>" title="型錄下載" target="_blank"></a>
          <% end %>
        </div>
        <div class="col-sm-4 col-xs-4 col-md-4">
          <%= link_to '', reservations_path, title: "預約試乘", id: "oLink" %>
        </div>
      </div>
  </div>
</div>





<article>

  <!--側邊選單-->
  <nav id="sideMenu">
    <ul>
      <li class="active"><a id="btn01" href="javascript:;" title="車色">車色</a></li>
      <li><a id="btn02" href="javascript:;" title="特色">特色</a></li>
      <li><a id="btn03" href="javascript:;" title="規格">規格</a></li>
      <li><a id="btn04" href="javascript:;" title="精選配件">精選配件</a></li>
      <li><a id="btn05" href="javascript:;" title="回首頁">回首頁</a></li>
    </ul>
  </nav>
  
  <!--車色-->
  <section class="color">
    <div class="container">
      <h1>車色 / Color</h1>
      <h2>顏色以展示中心實車為準</h2>
      <div class="colorTag">
      <div id="arrow"></div>
      <ul>
        <% @vehicle.colors.each do |color| %>
          <li><a id="c01" href="javascript:;" title="<%= color.name %>"><h3><%= color.name %></h3><span style="background-color: #<%= color.hexcode %>;"></span></a></li>
        <% end %>
      </ul>
      </div>
      <div class="motoImg">
      <div id="arrow2"></div>
      <% k=0 %>
      <% @vehicle.colors.each do |color| %>
        <% color.galleries.where(type: VehicleColorDemo).each do |attach| %>
           <% if k==0 %>
            <img class="current" src=<%= "#{attach.attachment.url}" %>>
           <% else %> 
            <img src=<%= "#{attach.attachment.url}" %>>
           <% end %> 
           <% k=k+1 %>
        <% end %>
      <% end %>

      </div>
    </div>
  </section>
  <!--連絡-->
  <section id="contact">
    <img id="sectionArrow" src="/images/arrow.png">
    <%= link_to "欲購買請與我們聯絡", reservations_path(), title: "欲購買請與我們聯絡" %>
  </section>
  <!--特色-->
  <section class="feature">
    <div class="container">
      <h1>特色 / Feature</h1>
      <div class="row">
        <% @features.each do |feature| %>
          <div class="col-xs-6 col-md-6">
          <div class="point" id="f03">
            <%=render 'layouts/show_by_type', target: feature, target_title: '', type: 'VehicleFeature' %>
            <div class="intro">
                <h3><%= feature.title %></h3>
                <p><%= feature.context %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <!--規格-->
  <section class="spec">
    <div class="container">
      <h1>規格 / Spec.</h1>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
        <tr>
          <th colspan="2" scope="col"><div id="th">規格表 <span>（規格請以實車為主）</span></div></th>
        </tr>
        <% @vehicle.specs.each do |spec| %>
          <% unless spec.context.empty? %>
            <tr>
              <td><%= spec.title %></td>
              <td><%= spec.context %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </section>
  <!--配件-->
  <section class="accessory">
    <div class="container">
      <h1>精選配件 / Accessory</h1>
      <h4>附贈</h4>
      <div class="row">
        <% @com_accessories.each do |accessory| %>
        <div class="col-xs-6 col-sm-3">
          <%= render 'layouts/show_by_type', target: accessory, target_title: '', type: 'VehicleAccessory' %>
          <div>
            <h3><%= accessory.title %></h3>
            <ul>
                <li><%= accessory.context_1 %></li>
                <li><%= accessory.context_2 %></li>
                <li><%= accessory.context_3 %></li>
            </ul>
            </div>
        </div>
        <% end %>
      </div>
      <hr>
      <h4>選配</h4>
      <div class="row">
        <% @opt_accessories.each do |accessory| %>
        <div class="col-xs-6 col-sm-3">
          <%= render 'layouts/show_by_type', target: accessory, target_title: '', type: 'VehicleAccessory' %>
          <div>
            <h3><%= accessory.title %></h3>
            <ul>
                <li><%= accessory.context_1 %></li>
                <li><%= accessory.context_2 %></li>
                <li><%= accessory.context_3 %></li>
            </ul>
          </div>
        </div>  
        <% end %>
      </div>
    </div>
  </section>
  <section class="gallery">
    <div class="container">
      <%= render 'layouts/show_by_type', target: @vehicle, target_title: '', type: 'VehiclePhotoGallery' %>
    </div>
  </section>
  
</article>

<script>
$('.colorTag ul li').click(function(){
  var colorStyle = $(this).index();
  $('.current').removeClass('current');
  $('.motoImg img').css({'opacity':0});
  $('.motoImg img').eq(colorStyle).addClass('current');
  $('.motoImg img').stop(false,false).animate({'opacity':1},600);
});
</script>
