<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <%= render "ctpower_mailer/header_logo" %>  
  
  <p>親愛的管理員，您好：</p>
  <p>有新的客服信件，快回來<%= link_to "後台", new_admin_session_url ,target: "_blank" %>管理吧！</p>
  
  <p>類別：<%= @subject %></p>
  <p>姓名：<%= @contact.name %></p>
  <p>電話：<%= @contact.phone %></p>
  <p>信箱：<%= @contact.email %></p>
  <p>留言內容：</p>
  <p><%= @contact.content %></p>

  <%= render "ctpower_mailer/footer" %>
</body>
</html>