<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>城市動力後台管理系統</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<link rel="stylesheet/less" type="text/css" href="/css/admin/global.less" />
<script src="/js/admin/less.min.js"></script>
<script src="/js/admin/global.js"></script>

  <script>
  window.onload= function() {
    <% if !flash[:notice].nil? %>
     alertify['success']('<%= flash[:notice] %>', 2000);
    <% end %>
    
    <% if !flash[:alert].nil? %>
    alertify['error']("<%= flash[:alert].html_safe %>", 2000); 
    <% end %>
  }
  </script>

</head>
<body>
<section id="wrapper">
  <header>
    <h1>城市動力後台管理系統</h1>
    <aside class="right"> <a href="<%= admin_root_url %>" id="aside-1">index</a><%= link_to "Edit profile", admin_admins_path , id: "aside-2" %><%= link_to 'Log out', destroy_admin_session_path, :method => :delete, id: "aside-3" %></aside>
  </header>
  <article id="container">
     <nav class="left">
      <ul>
        <li class="menu-box"><a href="#"><img src="/images/admin/tv.png">首頁管理</a>
          <div class="menu">
            <%= link_to "主視覺輪播", admin_index_sliders_path %>
            <%= link_to "明星商品", admin_selected_vehicles_path %>
          </div>
        </li>
        <li>
          <%= link_to admin_categories_path do %>
            <img src="/images/admin/motorcycle.png">車款介紹
          <% end %>
        </li>
        <li>
          <%= link_to admin_announcements_path do %>
            <img src="/images/admin/news.png">最新消息
          <% end %>
        </li>
        <li>
          <%= link_to  admin_stations_path do %>
            <img src="/images/admin/map.png">地圖管理
          <% end %>
        </li>
        <li>
          <%= link_to admin_boxes_path do %>
            <img src="/images/admin/comments.png">常見問題
          <% end %>
        </li>
        <li>
          <%= link_to admin_contacts_path do %>
            <img src="/images/admin/contact.png">聯絡我們
          <% end %>
        </li>
      </ul>
      <ul>
        <li>
          <%= link_to admin_admins_path do %>
            <img src="/images/admin/manager.png">管理者
          <% end %>
        </li>
      </ul>
    </nav>
  </article>
  
  <section id="content" _height="auto" class="left">
    <%= yield %>  
  </section>

</section>
</body>
</html>
