<!DOCTYPE html>
<html lang="zh-tw">
<head>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<title>城市動力│City Power</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/js_plugins/bxslider/jquery.bxslider.css" />

<script src="/js/jquery-1.11.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js_plugins/bxslider/jquery.bxslider.min.js"></script> 

</head>

<body>
<header>
  <section class="container">
    <div id="top" class="clearfix"> 
      <!--手機版選單-->
      <nav class="visible-xs nav navbar" id="nav-mb"> 
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
          <img src="/images/ctrl.png" class="img-responsive"> 
        </a>
        <ul class="dropdown-menu">
          <!--li><%= link_to "回首頁", root_path %></li>
          <li><a href="#">車款介紹</a></li>
          <li><%= link_to '認識 BES 特色', page_pages_path('features') %></li>
          <li><%= link_to 'BES 操作流程', page_pages_path('processes') %></li>
          <li><a href="#">BES 站點查詢</a></li>
          <li><a href="#">客戶服務</a></li>
          <li><a href="http://www.citypower.com.tw/ebike/station_info.php" target="_blank">E-bike</a></li>
          <li><a href="#">認識城市動力</a></li-->
          <li><%= link_to '認識 BES 特色', page_pages_path('features') %></li>
          <li><%= link_to "BES 操作流程", page_pages_path('processes')%></li>
          <li><%= link_to "E-bike", page_pages_path('comingsoon')%></li>
        </ul>
      </nav>
      <h1 class="pull-left hidden-xs">
        <%= link_to root_path do %>
          <img src="/images/h1.png" class="img-responsive">
        <% end %>
      </h1>
      <div class="pull-right hidden-xs" id="fb"><a href="https://www.facebook.com/pages/%E5%9F%8E%E5%B8%82%E5%8B%95%E5%8A%9BCity-power/722780041116958?fref=ts" target="_blank"><img src="/images/fb.png" class="img-responsive"></a></div>
      <!--桌機版選單-->
      <nav class="pull-right hidden-xs" id="nav-dt">
        <ul class="nav navbar-nav">
          <!--li><a href="#">車款介紹</a></li>
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">認識 BES</a>
            <ul class="dropdown-menu">
              <li><%= link_to '認識 BES 特色', page_pages_path('features') %></li>
              <li><%= link_to "BES 操作流程", page_pages_path('processes')%></li>
            </ul>
          </li>
          <li><a href="#">BES 站點查詢</a></li>
          <li><a href="#">客戶服務</a></li>
          <li><a href="http://www.citypower.com.tw/ebike/station_info.php" target="_blank">E-bike</a></li>
          <li><a href="#">認識城市動力</a></li-->
          <li><%= link_to '認識 BES 特色', page_pages_path('features') %></li>
          <li><%= link_to "BES 操作流程", page_pages_path('processes')%></li>
          <li><%= link_to "E-bike", page_pages_path('comingsoon')%></li>
        </ul>
      </nav>
    </div><!--top-->    
    <%= yield :header %>
  </section>  
</header>

<%= yield %>

<footer>
  <section class="container">
    <div id="info">台灣城市動力股份有限公司  CityPower Taiwan Co.,Ltd. <br>
      新北市五股區五權路一號二樓<br>
      電話：02-2298-9311 │ 客服專線：0800-588-695</div>
    <div id="copyright" class="text-right"> <img src="/images/logo.png"><br>
      Copyright © 2014 citypower | All Rights Reserved </div>
  </section>
</footer>
<script src="/js/less.min.js"></script>
</body>
</html>
